{% extends "laBiblioteca/base.html" %}
{% load static %}
{% block title %} Registro | La biblioteca {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'laBiblioteca/style/registro.css' %}">
{% endblock %}

{% block main %}




    <div class="container py-4 bg-white mx-w">
        <h1 class="fw-bold mb-4 text-primary text-center">Registro</h1>
        
        <form class="container-fluid pb-2 form" action="{% url 'registro' %}" method="post">
            {% csrf_token %}

            {{ form.as_p }}
            {% if form.errors %}
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}</strong>: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="mb-0 d-flex justify-content-center">
                <input class="btn btn-primary mb-1 py-2 w-50" type="submit" value="REGISTRARSE">
            </div>

            
        </form>
    </div>
{% endblock %}
